@import url('https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/style.min.css');

:root:where(:lang(zh)),
:root:where(:lang(zh-CN)) {
	--vp-font-family-base: LXGW WenKai Screen, "Microsoft YaHei";
}

:root {
    --vp-font-family-base: LXGW WenKai Screen, "Microsoft YaHei";
    --vp-font-family-mono: LXGW WenKai Screen, "Microsoft YaHei"; /* 代码字体 */
    font-optical-sizing: auto;
}
/* 
footer{
	display: none; 
} */
/* 主页logo圆角 */
.vp-image {
	border-radius: 36px;
}

/* 主页表格布局,增加高级感 */
body:before {
    content: "";
    pointer-events: none;
    z-index: 0;
    background-image: linear-gradient(to right, rgb(from var(--vp-c-divider) calc(1 - r) calc(1 - g) calc(1 - b)) 1px, transparent 1px), linear-gradient(to bottom, rgb(from var(--vp-c-divider) calc(1 - r) calc(1 - g) calc(1 - b)) 1px, transparent 1px);
    opacity: .05;
    mix-blend-mode: luminosity;
    background-position: 50%;
    background-size: 26px 26px;
    position: fixed;
    inset: 0;
}